fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
pydantic==2.7.1
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
python-dotenv==1.0.1

langchain
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu==1.8.0
pypdf==4.2.0
sentence-transformers